.header {
  margin: var(--spacing-20) 0;
  text-align: center;
  position: relative;
  border: 1px solid var(--color-text);
  border-radius: 30px;
}
.category {
  margin: 0 0 var(--spacing-1) var(--spacing-5);
  letter-spacing: .5rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
}
.title {
  font-family: var(--fontFamily-serif);
  margin: 0 0 var(--spacing-6);
  padding: 0 var(--spacing-3) var(--spacing-10);
  border-bottom: 1px solid var(--color-text);
  font-family: var(--fontFamily-serif);
}
.calendarIcon {
  width: 1rem;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  fill: var(--color-primary);
}
.publishedAt {
  display: inline-block;
  position: absolute;
  bottom: var(--spacing-10);
  left: 50%;
  margin-left: -6rem;
  background-color: #fff;
  padding: .1rem 1rem;
}
.authors {
  display: inline-block;
  margin-bottom: var(--spacing-4);
}
.writtenByIcon {
  display: inline-block;
  width: 20px;
  height: 30px;
  vertical-align: middle;
  fill: var(--color-primary);
}
.authors img {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  vertical-align: middle;
  margin-left: .7rem;
  border: 1px solid var(--color-text);
  padding: 2px;
}
.author {
  margin-left: .7rem;
}
.blocks {
  max-width: 800px;
  margin: 0 auto;
}
.blocks h1,
.blocks h2,
.blocks h3,
.blocks h4 {
  font-family: var(--fontFamily-serif);
  line-height: 1.3;
  padding-bottom: var(--spacing-4);
}
.blocks p {
  line-height: 1.7;
  font-size: var(--fontSize-2);
}
.blocks ul {
  padding-left: var(--spacing-2);
}
.blocks li {
  padding: var(--spacing-2) 0;
  padding-left: var(--spacing-2);
  line-height: 1.7;
}
.blogHeader {
  margin-bottom: var(--spacing-20);
}
.blocks img {
  margin-top: var(--spacing-5);
}
@media (max-width: 480px) {
  .publishedAt {
    bottom: 3.5rem;
  }
  .blocks p {
    font-size: var(--fontSize-1);
  }
}