/* Index */
.indexHeader {
  margin-top: -1px;
  position: relative;
  overflow: hidden;
}
.indexUnsplash {
  position: absolute;
  top: .5rem;
  right: .5rem;
  z-index: 2;
  background: none;
}
.indexHeaderImage {
  position: absolute;
  width: 100%;
  height: 100%;
}
.indexHeaderImage img {
  position: absolute;
  width: 100%;
  object-fit: cover;
  z-index: 1;
  filter: brightness(150%);
}
.indexHeaderText {
  position: relative;
  z-index: 10;
  max-width: 1400px;
  margin: var(--spacing-20) auto;
  padding: var(--spacing-10) 0;
}
.indexHeaderTextInner {
  margin: var(--spacing-10);
  padding: var(--spacing-5) var(--spacing-20);
  background-color: rgba(255,255,255,.3);
  border-radius: 30px;
  backdrop-filter: blur(5px);
}
.indexHeaderTextInner p {
  line-height: 1.8;
  font-family: var(--fontFamily-serif);
  font-size: var(--fontSize-3);
}
.indexDesc {
  font-family: var(--fontFamily-serif);
  font-size: var(--fontSize-3);
  color: #000;
  padding: 0 var(--spacing-10) var(--spacing-10);
}
.list {
  padding: var(--spacing-20) 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-gap: 2rem;
}
.dataset {
  margin-top: var(--spacing-10);
  display: grid;
  grid-template-columns: 180px 1fr;
  grid-gap: 2rem;
  overflow: hidden;
}
.datasetThumbnail {
  display: block;
  width: 180px;
  height: auto;
  overflow: hidden;
  border-right: 1px solid #999;
}
.datasetThumbnail img {
  border-radius: 10px;
}
.datasetThumbnailInner {
  display: block;
  width: 400px;
  height: 400px;
  position: relative;
}
.datasetTitle {
  margin: 0;
  padding: 0 0 1rem;
  letter-spacing: -2px;
}
.datasetExcerpt {
  min-height: 360px;
}
.learnMoreButton a {
  display: inline-block;
  padding: var(--spacing-2) var(--spacing-10);
}

/* Page Header */
.pageHeader {
  margin: 0 auto;
  padding: 0 var(--spacing-10);
  max-width: 1800px;
  min-height: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--spacing-10);
  margin-bottom: var(--spacing-20);
}
.cover {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}
.cover img {
  width: 100%;
  object-fit: cover;
}
.unsplash {
  position: absolute;
  bottom: -1rem;
  right: 1rem;
  background-color: #fff;
  padding: .7rem .5rem 0;
}
.abstract {
  width: 100%;
  padding-bottom: var(--spacing-10);
}
.title {
  margin-top: var(--spacing-10);
  padding-top: var(--spacing-10);
}
.description {
  font-size: var(--fontSize-3);
}
.categoryLabel {
  margin-top: var(--spacing-20);
  margin-bottom: 0;
}
.categoryLabel a {
  font-size: var(--fontSize-0);
  color: var(--color-primary);
  font-weight: var(--fontWeight-black);
  border-radius: 30px;
  border: 1px solid var(--color-primary);
  padding: var(--spacing-2) var(--spacing-6);
  line-height: 1;
  display: inline-block;
  background-color: #fff;
}
.categoryLabel a:hover {
  color: #000;
  border-color: #000;
}

/* Download Button */
.download {
  margin: var(--spacing-10) auto;
}
.downloadButton {
  font-size: var(--fontSize-3);
  text-align: center;
}
.downloadButton a {
  display: inline-block;
  padding-left: var(--spacing-10);
  padding-right: var(--spacing-10);
}
.downloadSize {
  text-align: center;
  padding-top: var(--spacing-2);
}

/* Column Description */
.columns {
  max-width: 800px;
  margin: 0 auto;
}
.columnsTitle {
  margin-top: var(--spacing-10);
}
/* subtitle */
.columns h3 {
  margin-bottom: var(--spacing-4);
  font-size: var(--fontSize-3);
}
.columnsContent {
  margin-bottom: var(--spacing-10);
}

/* Pipeline */
.pipeline {
  max-width: 800px;
  margin: 0 auto;
}
.pipelineTitle {
  margin-top: var(--spacing-10);
}
.pipelineDesc {
  margin-bottom: var(--spacing-10);
}
.externalLinks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-10);
  margin: var(--spacing-10) 0;
}
.externalLink {
  text-align: center;
}
.externalLink p {
  margin: 0;
  padding: 0 0 var(--spacing-1);
}

/* Statistics */
.statistics {
  max-width: 800px;
  margin: 0 auto;
  padding-top: var(--spacing-10);
}
.statisticsTitle {
  margin-top: var(--spacing-10);
}
.statisticsDesc {
  margin-bottom: var(--spacing-10);
}

/* Metadata */
.metadata {
  max-width: 800px;
  margin: 0 auto;
}
.metadataTitle {
  margin-top: var(--spacing-10);
}

/* Mother Libraries */
.momlibs {
  max-width: 800px;
  margin: 0 auto;
}
.momlibsTitle {
  margin-bottom: var(--spacing-4);
  font-size: var(--fontSize-3);
}
.momlibsDesc {
  margin-bottom: var(--spacing-10);
}
.momlibsDb {
  margin-bottom: var(--spacing-10);
}

/* Sub-Libraries */
.sublibs {
  max-width: 800px;
  margin: 0 auto;
}
.sublibsTitle {
  margin-bottom: var(--spacing-4);
  font-size: var(--fontSize-3);
}
.sublibsDesc {
  margin-bottom: var(--spacing-10);
}
.sublibsDb {
  margin-bottom: var(--spacing-10);
}

.antigens {
  max-width: 800px;
  margin: 0 auto;
}
.antigensTitle {
  margin-bottom: var(--spacing-4);
  font-size: var(--fontSize-3);
}
.antigensDesc {
  margin-bottom: var(--spacing-10);
}

.subjects {
  max-width: 800px;
  margin: 0 auto;
}
.subjectsTitle {
  margin-bottom: var(--spacing-4);
  font-size: var(--fontSize-3);
}
.subjectsDesc {
  margin-bottom: var(--spacing-10);
}

/* License */
.license {
  max-width: 800px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .pageHeader {
    display: block;
    margin-bottom: 0;
    padding: 0;
  }
  .cover {
    height: 300px;
    top: -1px;
  }
  .cover img {
    width: 100%;
  }
  .abstract {
    padding: 0 var(--spacing-5);
  }
  .title {
    margin-top: var(--spacing-5);
    padding-top: 0;
  }
  .description {
    font-size: var(--fontSize-2);
  }
  .externalLinks {
    display: block;
    margin: 0;
  }
  .externalLink {
    margin: var(--spacing-5) auto;
  }
}

@media (max-width: 900px) {
  .indexHeaderText {
    max-width: 100%;
    margin: var(--spacing-10) auto;
    padding: 0;
    z-index: 0;
  }
  .indexHeaderTextInner {
    margin: var(--spacing-10) auto;
    padding: 0 var(--spacing-10);
    background: none;
  }
  .indexHeaderImage {
    position: relative;
    height: 300px;
  }
  .indexHeaderImage img {
    position: relative;
    height: 300px;
  }
  .indexDesc {
    font-size: var(--fontSize-2);
    padding: 0;
  }
  .indexDesc p {
    line-height: 1.8;
  }
  .indexUnsplash p {
    font-size: 10px;
  }
  .indexDesc {
    padding: 0;
  }

  .list {
    padding: 0;
    display: block;
  }
  .dataset {
    margin: 0;
    padding: 0;
    width: auto;
    overflow: hidden;
    margin-top: var(--spacing-20);
    display: block;
  }
  .datasetThumbnail {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 0 var(--spacing-5);
    overflow: hidden;
    border: none;
  }
  .datasetThumbnailInner {
    width: 200px;
    height: 200px;
  }
  .datasetTitle {
    padding: 1rem 0;
    letter-spacing: 0;
  }
  .datasetExcerpt {
    height: auto;
    min-height: auto;
    padding-right: var(--spacing-5);
  }
  .learnMoreButton {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .indexHeaderText {
    margin-bottom: 0;
  }
  .indexDesc p {
    font-size: var(--fontSize-1);
  }
  .indexHeaderTextInner {
    padding: 0 var(--spacing-5);
    margin-bottom: 0;
  }
  .datasetThumbnail {
    margin: 0 auto var(--spacing-5);
  }
}