.languages {
	display: inline-block;
	margin-right: 1rem;
	font-weight: bold;
	padding: 0 var(--spacing-2);
	position: relative;
}
.languages:hover {
	background-color: #eee;
	cursor: pointer;
	border-radius: 10px;
}
.languageIcon {
	width: 34px;
	height: 30px;
	display: inline-block;
	vertical-align: middle;
	padding-top: 1px;
	margin-right: var(--spacing-2);
}
.sortdownIcon {
	width: 8px;
	height: 8px;
	display: inline-block;
	margin-left: 5px;
}
.switcher {
	background-color: #fff;
	border-radius: 10px;
	position: absolute;
	bottom: 2.45rem;
	left: .9rem;
	box-shadow: 0 0 10px #ddd;
	text-align: left;
}
.switcherTop {
	top: 2.45rem;
	bottom: auto;
	left: auto;
	right: .9rem;
}
.switcher ul {
	list-style: none;
	margin: 0;
	padding: var(--spacing-1);
}
.switcher li {
	margin: 0;
	padding: var(--spacing-2) var(--spacing-10);
}
.switcher li:hover {
	background-color: #eee;
	cursor: pointer;
	border-radius: 10px;
}
.switcher span {
	display: block;
}
.langen {
	white-space: nowrap;
	opacity: 0.5;
	font-weight: normal;
}
